<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>    

<header class="bg-dark text-white py-2">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
          <div>
              <!-- Ensure the h1 tag also has 'text-white' if not by default -->
              <h1 class="text-white">Arrienda Tu Finca!</h1>
              <p class="mb-0">Grupo 2 - 7 Universidad Javeriana</p>
          </div>

          <div>

              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/home">Home Screen</a>
              </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/propiedades">Propiedades Disponibles</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/reservaciones">Mis reservas</a>
                  </li>
                  <ng-container *ngIf="loggedUser; else loginRegisterButtons">
                      <li class="nav-item dropdown">
                          <button class="btn btn-link text-white dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              {{loggedUser.nombres}}
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><button class="dropdown-item" (click)="logoff()">Log Out</button></li>
                          </ul>                          </button>

                      </li>
                  </ng-container>
              </ul>
          </div>
      </div>
  </div>
  <ng-template #loginRegisterButtons>
      <div class="d-flex">
          <button class="btn btn-success me-2" (click)="openLogin()" type="button">Inicia Sesión</button>
          <button class="btn btn-success" (click)="openRegister()" type="button">Registrate</button>
      </div>
  </ng-template>
</header>


  <div class="container pt-3">
    <router-outlet></router-outlet>
  </div>

  <div class="modal" id="registerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registro</h4>
          <button type="button" class="btn-close" (click)="closeRegister()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="">Nombre</label>
              <input type="text" [(ngModel)]="registerObj.nombres" class="form-control">
            </div>
            <div class="col">
              <label for="">Apellidos</label>
              <input type="text" [(ngModel)]="registerObj.apellidos" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="">Correo Electronico</label>
              <input type="text" [(ngModel)]="registerObj.correoElectronico" class="form-control">
            </div>
            <div class="col">
              <label for="">Telefono</label>
              <input type="text" [(ngModel)]="registerObj.telefono" class="form-control">
            </div>
            <div class="col">
              <label for="">Tipo de usuario</label>
              <select name="" class="form-control">
                <option value="">Seleccione una opción</option>
                <option value="Arrendatario">Arrendatario</option>
                <option value="Arrendador">Arrendador</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="">Contraseña</label>
              <input type="text" [(ngModel)]="registerObj.password" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeRegister()" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success" (click)= "onRegister()">Enviar</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="btn-close" (click)="closeLogin()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row mt-3">
            <div class="col">
              <label for="">Correo Electronico</label>
              <input type="text" [(ngModel)]="loginObj.correoElectronico" class="form-control">
            </div>
            <div class="col-12">
              <label for="">Tipo de usuario</label>
              <select name="" class="form-control">
                <option value="">Seleccione una opción</option>
                <option value="Arrendatario">Arrendatario</option>
                <option value="Arrendador">Arrendador</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="">Contraseña</label>
              <input type="text" [(ngModel)]="loginObj.password" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeLogin()">Cerrar</button>
          <button type="button" class="btn btn-success" (click)= "onlogin()">Enviar</button>
        </div>
        
      </div>
    </div>
  </div>

  <footer>

    <p>&copy; 2024 Grupo 7 - clase martes y jueves - 6:00PM - 8:00PM</p>

  </footer>