<div id="booking">
    <!-- <div> -->
    <!-- <img src="https://www.zoomcar.com/img/bg-desktop.png" alt=""> -->
    <form id="form">
        <input type="text" id="start" class="placeholder1" placeholder="Ciudad de Alquiler">

        <input type="text" id="end" class="placeholder1" placeholder="Tipo de inmueble">
        <!-- <p id="redDot"></p> -->
        <div><button id="primaryButton" type="submit">ENTONTRAR PROPIEDADES</button></div>
    </form>
    <!-- <a href="./Filter/filter.html"></a> -->
    <!-- </div> -->
</div>
<div class="row">
    <div class="col-12 text-center">
        <h3>PROPIEDADES DESTACADAS</h3>
    </div>
</div>

<div class=" car-list-home-container">
    <div class="row car-list-home">
        <div class="col-6" *ngFor="let propiedad of propiedadList" (click)="makeBooking(propiedad.idPropiedad)">
            <app-propiedad-card [propiedadData]="propiedad"></app-propiedad-card>
        </div>
    </div>
</div>