
header {
  background: linear-gradient(to right, #3498db, #2980b9); /* Gradient background */
  color: #fff; /* Text color is white */
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 8px; /* Add rounded corners */
}

header p {
  margin: 10px 0; /* Add some margin between paragraphs */
  font-size: 18px; /* Increase the font size */
  font-family: 'Arial', sans-serif; /* Change the font family */
  letter-spacing: 1px; /* Add some letter spacing */
  line-height: 1.5; /* Improve the line height for better readability */
}
      h1, h2, h3 {
          color: #3498db;
      }

      section {
          margin: 20px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          padding: 20px;
      }

      ul {
          list-style-type: none;
          padding: 0;
      }

      li {
          margin-bottom: 10px;
      }